spring:
  config:
    import: optional:file:./src/main/resources/application-local.yml
  profiles:
    active: local
  application:
    name: api-gateway
  data:
    redis:
      host: redis
      port: 6379
  cloud:
    gateway:
      routes:

app:
  services:
    user-service-url: http://user-service:8088
    auth-service-url: http://auth-service:8089
    card-service-url: http://user-service:8088
    order-service-url: http://order-service:8099
    payment-service-url: http://payment-service:8066

server:
  port: 8077

jwt:
  secret: ${JWT_SECRET}
  issuer: "api-gateway"

logging:
  level:
    com.company.gateway: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: health,info
    enabled-by-default: true
  endpoint:
    health:
      enabled: true
      show-details: always