apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
data:
  application.properties: |
    # Общие настройки для всех сервисов
    logging.level.org.springframework=INFO
    spring.jackson.serialization.write-dates-as-timestamps=false