apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
data:
  application.properties: |
    # General settings for all services
    logging.level.org.springframework=INFO
    spring.jackson.serialization.write-dates-as-timestamps=false